@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: rgb(165, 176, 245);
}
.wrapper{
    margin: 50px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
    height: 250px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.add-box, .icon, .bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.add-box{
    justify-content: center;
    flex-direction: column;
}
.add-box .icon{
    border: dashed 2px #88ABFF;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    color: #88ABFF;
    font-size: 40px;
    cursor: pointer;
}
.wrapper .note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.add-box p{
    color: #88ABFF;
    margin-top: 15px;
    font-size: 15px;
}
.note p{
    font-size: 22px;
    font-weight: 500;
}
.note span{
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.note .bottom-content{
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.bottom-content span{
    color: #6d6d6d;
    font-size: 13px;
}
.bottom-content .settings i {
    color: #6d6d6d;
    font-size: 15px;
    cursor: pointer;
}