@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background: rgb(165, 176, 245);
}
.wrapper{
    margin: 50px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
    height: 250px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.add-box, .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.add-box .icon{
    border: dashed 2px #88ABFF;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    color: #88ABFF;
    font-size: 40px;
    cursor: pointer;
}
.add-box p{
    color: #88ABFF;
    margin-top: 15px;
    font-size: 15px;
}
.note{

}
.note .details{
    
}